{{ define "title" }}Strava Reminders{{ end }}
{{ define "body" }}
  <div id="login-page" class="flex h-screen items-center justify-center bg-gray-100">
    <div class="mx-auto w-full max-w-md rounded-md bg-white p-8 shadow-md">
      <h2 class="mb-6 text-2xl font-semibold">Login Using Strava</h2>
      <p class="mb-6">
        To use Strava Reminders, you must log in with your Strava Account. This app will only have
        read access to your Strava account and will not be able to upload or modify activities.
      </p>
      <button
        onclick="window.location.href='/auth?provider=strava';"
        class="w-full rounded-md bg-green-500 p-2 text-white hover:bg-green-600"
      >
        Login
      </button>
    </div>
  </div>
{{ end }}
